// .customers {
//     padding: 60px 0 60px 0;    

//     @media screen and (min-width: 1200px) {
//      padding: 94px 0 94px 0;
//     }
// }

.customer__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.customers__item {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: calc((100% - 30px) / 2);
        height: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 60px) / 3);
        height: 100%;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
        height: 100%;
    }

}

.customers__link {
    @include border(1px solid var(--icon-color), 4px);
    height: 92px;
    width: 100%;
    // border: 1px solid var(--icon-color);
    // border-radius: 4px;
    // @extend %align-element;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus {
        color: var(--second-text-color);
        border-color: var(--second-text-color);
    }

}

.customers__icon {
    fill: currentColor;
}