.mobile-menu {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 40px 10px;

    >.container {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;

        @include mobile {
            height: 100%;
            padding: 48px 40px;
        }
    }

}


.mobile-menu__link.current {
    position: relative;
    color: var(--second-text-color);
}

.menu-close-btn {
    margin-left: auto;
    display: flex;
    border: none;
    background-color: var(--background-color);
    margin-top: 10px;

    &:focus {
        fill: var(--second-text-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu__list {
    margin-bottom: 50px;
}

.active {
    color: var(--second-text-color);
    position: relative;
}

.mobile-connect {
    margin-bottom: 50px;
}

.mobile-connect__tel {
    @include font(500, 34px, 1.17, 0.02em);
    font-family: 'Roboto';
    font-style: normal;
    // font-weight: 500;
    // font-size: 34px;
    // line-height: 1.17;
    // letter-spacing: 0.02em;
    color: var(--second-text-color);

    @media screen and (min-width: 320px) and (max-width: 479px) {
    @include font(500, 30px, 1.17, 0.02em);
    }

}

.mobile-connect__link {
    @include font(500, 24px, 1.17, 0.02em);
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    // font-weight: 500;
    // font-size: 24px;
    // line-height: 1.17;
    // letter-spacing: 0.02em;
    color: var(--owner-text-color);
    padding-top: 32px;

    &:focus {
        color: var(--second-text-color);
    }
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {
    @include font(500, 40px, 1.2, 0.02em);
    font-family: 'Roboto';
    font-style: normal;
    // font-weight: 500;
    // font-size: 40px;
    // line-height: 1.17;
    // letter-spacing: 0.02em;
    color: #212121;

    &:hover,
    &:focus {
        color: var(--second-text-color);
    }
}

.mobile__networking {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media screen and (min-width: 320px) and (max-width: 479px) {
     gap: 40px;
    }

}

.mobile__networking-line::before {
    content: "";
    border: 1px solid rgba(33, 33, 33, .2);
    background-color: rgba(33, 33, 33, .2);
    height: 1px;
    width: 22px;
    margin-right: 10px;
    @media screen and (max-width: 479px) {
        display:none;
    }
}

.mobile__networking-link {
    @include font(500, 18px, 1.2, 0.02em);
    font-family: 'Roboto';
    font-style: normal;
    // font-weight: 500;
    // font-size: 18px;
    // line-height: 1.22;
    // letter-spacing: 0.02em;
    color: var(--second-text-color);
    @media screen and (min-width: 320px) and (max-width: 479px) {
    @include font(500, 20px, 1.2, 0.02em);
     display: flex;
     margin-left: 10px;
     margin-right: 10px;
     width: 100px
    }

}

// .mobile-menu__list {
//     margin-bottom: 302px;
//     @media screen and (min-width: 320px) and (max-width: 480px) {
//         margin-bottom: 302px;
//     }